* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  background-color: #f5eae8;
}

.month {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fcd5ce;
}

.month i {
  font-size: 30px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center center;
  padding: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center center;
}

.prev,
.next {
  color: rgba(0, 0, 0, 0.2);
}

.prev,
.next,
.date {
  padding: 20px;
}

.date {
  transition: background-color 0.3s ease-in-out;
}

.date:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.today {
  background-color: #ffb5a7;
  border-radius: 50%;
}
